body {
	color: #000;
}

.page-title {
	float: left;
}

nav.woocommerce-breadcrumb {
	margin-top: 5px;
	float: left;
	margin-left: 10px;
}

.woocommerce-ordering {
	margin-bottom: 10px !important;
}

.grid-list-view-buttons {
	display: none;
}

.product-image-link img {
	width: 182px;
	height: 142px;
}

.account-nav2 ul {
	background: #fff;
	border: 0;
}

.account-nav2 ul li {
	background: #fff !important;
	border: 0 !important;
	width: 170px !important;
}

.order-actions a {
	color: #fff !important;
	background: rgb(112, 112, 112);
}